<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加住户</title>
    <link rel="stylesheet" th:href="@{/static/css/index_work.css}">
</head>
<body>
<form th:action="@{/employee}" method="post">
    <table >
        <tr>
            <th colspan="2">添加住户信息</th>
        </tr>
        <tr>
            <td>姓名</td>
            <td><input type="text" name="empName" ></td>
        </tr>
        <tr>
            <td>年龄</td>
            <td><input type="text" name="age" ></td>
        </tr>
        <tr>
            <td>性别</td>
            <td>
                <input type="text" name="sex">
            </td>
        </tr>
        <tr>
            <td>地址</td>
            <td><input type="text" name="email"></td>
        </tr>
        <tr>
            <th colspan="2">
                <input type="submit" value="添加">
            </th>
        </tr>
    </table>
</form>
</body>
</html>